h1{
    text-align: center;
    color: black;
    font-family: fantasy;
    text-decoration: underline;
    background-color: lightgray;
}

body{
    background-color: steelblue;
}

h3{
    color: black;
    font-family:fantasy;
}

h4{
    background-color: lightgray;
}


